<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/Dashboard.css" />
    <title>Profile</title>
</head>

<body>
    <%-include('../Components/Header.ejs') %>
    <div class="dashboard-container">
        <div class="dash-navigation">
            <ul>
                <li class="heads inactive-head">Profile</li>
                <li class="heads inactive-head">My Programs</li>
                <li class="heads inactive-head">Prefrences</li>
                <li class="heads inactive-head">Community</li>
                <li class="heads inactive-head">Help Center</li>
                <li class="heads inactive-head">FAQ</li>
            </ul>
        </div>
        <div class="mobile-dash-nav">
            <div class="mob-link-encl">
                <ul>
                    <li class="heads inactive-head">Profile</li>
                    <li class="heads inactive-head">My Programs</li>
                    <li class="heads inactive-head">Prefrences</li>
                    <li class="heads inactive-head">Community</li>
                    <li class="heads inactive-head">Help Center</li>
                    <li class="heads inactive-head">FAQ</li>
                </ul>
            </div>
        </div>
        <div class="profile-section">
            <div class="profile-card">
                <div class="profile-details">
                    <div class="det_sp">
                        <span class="det_sp_label">Full Name</span>
                        <span class="det_sp_content"><%= user.ufName %> <%= user.ulName %></span>
                    </div>
                    <div class="det_sp">
                        <span class="det_sp_label">Email</span>
                        <span class="det_sp_content"><%= user.uEmail %></span>
                    </div>
                    <div class="det_sp">
                        <span class="det_sp_label">Institute</span>
                        <span class="det_sp_content"><%= user.uInsti %></span>
                    </div>
                    <div class="det_sp">
                        <span class="det_sp_label">Registered Phone</span>
                        <span class="det_sp_content"><%= user.upNum %></span>
                    </div>
                    <div class="pro-btns">
                        <button>Edit Profile</button>
                        <button>Update Password</button>
                    </div>
                </div>
                <div class="profile-pic">
                    <img src="/assets/images/svgs/account.svg">
                </div>
            </div>
        </div>
    </div>
    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
    <script src="/assets/scripts/profile.js"></script>
</body>
</html>