<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../Components/GoogleAnalytics.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= doc.Category %> Courses</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <!-- <link rel="stylesheet" href="/assets/css/Course.css" /> -->
    <link rel="stylesheet" href="/assets/css/CoursePage.css">
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <link rel="icon" href="/assets/img/icons/Logo.svg" />
</head>

<body>
    <%-include('../Components/Header.ejs') %>
    <div class="courseContaier">
        <div class="mainScreen">
            <div class="contentBox">
                <div class="courseBasicDetails">
                    <h5><%= doc.Category %></h5>
                    <div class="lang-imgs mobile-banner">
                        <img src="/assets/images/svgs/html-logo.svg" />
                        <img src="/assets/images/svgs/css-logo.svg" />
                        <img src="/assets/images/svgs/js-logo.svg" />
                    </div>
                    <h1><%= doc.Title %></h1>
                    <h2><%= doc.Mode %> Training Program</h2>
                    <div class="ratingAndEnrolled">
                        <div class="ratingStars">
                            <img src="/assets/images/svgs/Filled-Star.svg" alt="">
                            <img src="/assets/images/svgs/Filled-Star.svg" alt="">
                            <img src="/assets/images/svgs/Filled-Star.svg" alt="">
                            <img src="/assets/images/svgs/Filled-Star.svg" alt="">
                            <img src="/assets/images/svgs/half filled star.svg" alt="">
                        </div>
                        <span class="ratingPoints"><%= doc.Rating %> (<%= doc.TotalReview %> Ratings)</span>
                        <span class="enrolledStudents"><%= doc.Enrolled %> Enrolled Students</span>
                    </div>
                </div>
                <div class="mobileShare">
                    <div>
                        <img src="/assets/images/svgs/heart.svg" alt="">
                        <span>Add to wishlist</span>
                    </div>
                    <div>
                        <img src="/assets/images/svgs/share.svg" alt="">
                        <span>Share</span>
                    </div>
                </div>
                <div class="courseAdditionalDetails">
                    <div class="programStructure">
                        <div class="aboutProgram">
                            <h1 class="sectionHeading">About this program</h1>
                            <p><%= doc.About %></p>
                        </div>
                        <div class="whatYouLearn">
                            <h1 class="sectionHeading">What you will learn</h1>
                            <div>
                                <% doc.WhatULearn.map(item => { %>
                                <span><i class="far fa-check-circle"></i>
                                    <p><%= item %></p>
                                </span>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="programCenterAndDate">
                        <div>
                            <h3>Starts On</h3>
                            <span><%= doc.StartDate %></span>
                        </div>
                        <div>
                            <h3>Program Length</h3>
                            <span><%= doc.Duration %></span>
                        </div>
                        <div>
                            <h3>Location</h3>
                            <span><%= doc.Location %></span>
                        </div>
                    </div>
                </div>
                <div class="completePSAnchor" onclick="JumpTo('#downloadCourse')">
                    Read Complete Program Structure
                </div>
                <div class="mobileRegButtons">
                    <div class="selectCourse">
                        <select name="selectCourse" id="selectCourse">
                        <option value="" selected disabled>Select Batch</option>
                            <% doc.Batch.map(item => { %>
                            <option value="<%= item %>"><%= item %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <button>Get demo session</button>
                        <% if(!user){ %>
                        <button onclick="LinkHandle('/user/login')">Buy Now</button>
                        <% } else {  %>
                        <button onclick="BuyClicked()">Buy Now</button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="subScreen" id="downloadCourse">
            <div class="whoShouldOpt">
                <h1 class="sectionHeading">Who should opt this program</h1>
                <p><%= doc.WhoShouldOpt %></p>
            </div>
            <div class="whatYouGet">
                <h1 class="sectionHeading">What you will learn</h1>
                <div>
                    <% doc.WhatUGet.map(item => { %>
                    <span><i class="far fa-check-circle"></i>
                        <p><%= item %></p>
                    </span>
                    <% }) %>
                </div>
            </div>
            <div class="mob-ProgramDetails">
                <div class="programCenterAndDate">
                    <div>
                        <h3>Starts On</h3>
                        <span><%= doc.StartDate %></span>
                    </div>
                    <div>
                        <h3>Program Length</h3>
                        <span><%= doc.Duration %></span>
                    </div>
                    <div>
                        <h3>Location</h3>
                        <span><%= doc.Location %></span>
                    </div>
                </div>
            </div>
            <div class="downloadProgram">
                <h1 class="sectionHeading">Program Structure</h1>
                <div class="programStructureItems">
                    <% doc.Structure.map( (item, i) => { %>
                    <button onclick="StructureToggle(this)" class="struct-dropbtn">
                        <%= doc.TimeFrame %> <%= i + 1 %> - <%= item.Topic %>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="struct-content">
                        <h4><%= item.Explain %></h4>
                        <% item.ToDo.map(task => { %>
                        <span><i class="far fa-check-circle"></i>
                            <p><%= task %></p>
                        </span>
                        <% }) %>
                        <hr /><br />
                    </div>
                    <% }) %>
                </div>
                <div class="downloadProgramStructure">
                    <a href="/assets/uploads/courses/<%= doc.Key %>/course-structure.pdf" download>
                        <img src="/assets/images/downcloud.png" alt=""><span>Download</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="courseBox">
            <% if (doc.Banner) { %>
            <div class="lang-imgs">
                <img src="/assets/images/svgs/html-logo.svg" />
                <img src="/assets/images/svgs/css-logo.svg" />
                <img src="/assets/images/svgs/js-logo.svg" />
            </div>
            <% } %>
            <div class="registerInfo">
                <h2>Register Now</h2>
                <h1>
                    <img src="/assets/images/svgs/indian-rupee-symbol.svg" />
                    <% const Price = doc.Price - (doc.Price * doc.Discount)/100 %>
                    <%= Price %></h1>
                </h1>
                <h3>
                    <span class="striked">₹ <%= doc.Price %></span>
                    <span><%= doc.Discount %>%</span>
                </h3>
            </div>
            <div class="registerButtons">
                <div class="selectCourse">
                    <select name="selectCourse" id="selectCourse">
                        <option value="" selected disabled>Select Batch</option>
                        <% doc.Batch.map(item => { %>
                        <option value="<%= item %>"><%= item %></option>
                        <% }) %>
                    </select>
                </div>
                <% if(!user){ %>
                <button onclick="LinkHandle('/user/login')">
                    <i class="fal fa-bags-shopping"></i>&ensp;Buy Now
                </button>
                <% } else {  %>
                <button onclick="BuyClicked()">
                    <i class="fal fa-bags-shopping"></i>&ensp;Buy Now
                </button>
                <% } %>

                <button>
                    <i class="fal fa-cart-plus"></i>&ensp;Add to wishlist
                </button>
            </div>
        </div>
    </div>
    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/js/index.js"></script>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>4
    <script>
        const StripePublicKey = '<%= stripe_key %>'
        const AMU = parseInt('<%= Price  %>') * 100
        const CourseKey = '<%= doc.Key %>'
    </script>
    <script src="/assets/js/CoursePage.js" defer></script>
</body>

</html>