<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/Event.css" />
    <title>Edudictive | Event</title>
    <link rel="icon" href="/assets/img/icons/Logo.svg" />
</head>

<body>
    <%-include('../Components/Header.ejs') %>
    <div class="wrap-content">
        <div class="event-banner" style="background-image: url('/assets/uploads/events/<%= doc.Key %>/banner.jpeg');">

        </div>
        <div class="event-content">
            <div class="event-details">
                <div>
                    <h2>About the webinar</h2>
                    <p><%= doc.About %></p>
                </div>
                <div>
                    <h2>Who should attend?</h2>
                    <p> <%= doc.WhoShouldAttend %></p>
                </div>
            </div>
            <div class="event-form">
                <div class="event-details">
                    <h2>Register for this seminar</h2>
                    <form id="eventInputs">
                        <div class="input-divide">
                            <input type="text" class="form-control" name="FirstName" placeholder="First Name" required>
                            <input type="text" class="form-control" name="LastName" placeholder="Last Name" required>
                        </div>
                        <div>
                            <input type="text" class="form-control" name="Email" placeholder="Email" required>
                        </div>
                        <div class="input-divide">
                            <input type="text" class="form-control" name="Phone" placeholder="Contact Number" required>
                            <select name="Role" id="" class="form-control" required>
                                <option disabled selected>Select Role</option>
                                <option value="Student">Student</option>
                                <option value="Parent">Parent</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                        <div class="input-divide">
                            <input type="text" class="form-control" name="CollegeName" placeholder="Institution Name"
                                required>
                            <select name="InterestedDomain" id="" class="form-control" required>
                                <option disabled selected>Select domain</option>
                                <option value="">Enterprenuership</option>
                                <option value="">Technology and Coding</option>
                                <option value="">Design and Creation</option>
                                <option value="">Sales and Marketing</option>
                                <option value="">Marketing and Growth Hacking</option>
                                <option value="">Finance and Investments</option>
                            </select>
                        </div>
                        <div>
                            <button class="reg-button">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="speakers-list">
            <h2>Speakers</h2>
            <div class="speaker-members">
                <% for(var i = 0; i < doc.Speakers.length; i++){ %>
                <div class="personality">
                    <div class="speaker-ini" onclick="LinkHandle('<%= doc.Speakers[i].linkedin %>','blank')">
                        <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/linkedin-512.png"
                            alt="">
                    </div>
                    <h2><%= doc.Speakers[i].name %></h2>
                    <h3><%= doc.Speakers[i].position %></h3>
                    <h3><%= doc.Speakers[i].company %></h3>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/dependecies/lottie.js"></script>
    <script>
        const EventKey = '<%= doc.Key %>'
    </script>
    <script src="/assets/js/EventPage.js"></script>
</body>

</html>