<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../Components/GoogleAnalytics.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/Events.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <title>Edudictive | Events</title>
    <link rel="icon" href="/assets/img/icons/Logo.svg" />
</head>

<body>

    <%-include('../Components/Header.ejs') %>
    <div class="event-container">

        <div class="sessions-heads">
            <div class="heads active-head">
                <span>Webinars</span>
                <div class="underline active_under"></div>
            </div>
            <% if (sessions.length > 0){ %>
            <div class="heads inactive-head">
                <span>Sessions</span>
                <div class="underline"></div>
            </div>
            <% } %>
        </div>
        <!-- Webinars started -->

        <div class="webinars">
            <!-- Slider started -->
            <% if (webinars.length > 0) { %>
            <div class="web-slider">
                <% for(var i = 0; i < webinars.length; i++) { %>
                <div class="wslide <% if (i == 0) { %>active-wslide<% } %>">
                    <img src="/assets/uploads/events/<%= webinars[i].Key %>/banner.jpeg">
                    <div class="slide-heading"><%= webinars[i].EventName %></div>
                    <div class="web-info">
                        <% if (webinars[i].Speakers.length == 1) { %>
                        <span class="author-slide">By <%= webinars[i].Speakers[0].name %></span>
                        <% } else { %>
                        <span class="author-slide">By Edudictive</span>
                        <% } %>
                        <span class="schedule-time">Scheduled at <%= webinars[i].StartTime %></span>
                    </div>

                    <div class="reg-encloser">
                        <button onclick="LinkHandle('/event/<%= webinars[i].Key %>/<%= webinars[i].EventName %>')"
                            class="learn-more-btn">Learn More</button>
                        <button
                            onclick="LinkHandle('/event/<%= webinars[i].Key %>/<%= webinars[i].EventName %>')">Register
                            Now</button>
                    </div>
                    <div class="imgblender"></div>
                </div>
                <% } %>
            </div>

            <div class="slider-controller">
                <% for(var i = 0; i < webinars.length; i++){ %>
                <div class="<% if (i !== 0){ %>in<% } %>active-slide" data-identity="<%= i %>"></div>
                <% } %>
            </div>

            <!-- Slider end -->
            <% } %>

            <!-- Live Section -->
            <% if (LiveWeb.length > 0) { %>
            <div class="live-section">
                <div class="live-sec">Live Right Now</div>
                <% for(var i=0; i < LiveWeb.length; i++) { %>
                <div class="live-session">
                    <img src="/assets/uploads/events/<%= LiveWeb[i].Key %>/banner.jpeg">
                    <div class="lsession-info">
                        <span><%= LiveWeb[i].EventName %></span>
                        <% if (LiveWeb[i].Speakers.length == 1) { %>
                        <span>By <%= LiveWeb[i].Speakers[0].name %></span>
                        <% } else { %>
                        <span>By Edudictive</span>
                        <% } %>
                    </div>
                    <button class="v-ini" onclick="LinkHandle('<%= LiveWeb[i].EventURL %>', 'blank')">Watch</button>
                </div>
                <% } %>
            </div>
            <% } %>

            <% if (Archive.length > 0) { %>
            <div class="archive-section">
                <h1>Archives</h1>
                <div class="archive-encloser">
                    <% for(var i = 0; i < Archive.length; i++) { %>
                    <div class="archives">
                        <img src="/assets/images/touchscreen.jpg">
                        <h2>Placements after <br> Covid-19</h2>
                        <span>Held on <%= Archive[i].StartTime %></span>
                        <button class="v-ini">Request Recorder Session</button>
                    </div>
                    <% }%>
                </div>
            </div>
            <% } %>
        </div>

        <!-- Webinars started -->

        <!-- sessions started -->
        <div class="sessions">

            <% for(var i = 0; i < sessions.length; i++) { %>
            <div class="session-container <% if ( i % 2 !== 0 ) { %>container-2<% } %>">
                <div class="session-details">
                    <h3 class="session-det-head"><%= sessions[i].EventName %></h3>
                    <p class="session-det-para">
                        <%= sessions[i].About %>
                    </p>
                </div>
                <div class="session-img">
                </div>
            </div>
            <% } %>
        </div>

        <!-- sessions ended -->
    </div>
    <%-include('../Components/ContactForm.ejs') %>
    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/EventPage.js"></script>
    <script>
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f34cb164c7806354da5fdb5/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</body>

</html>