<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/Event.css" />
    <title>Edudictive | Event</title>
</head>

<body>
    <%-include('../Components/Header.ejs') %>
    <div class="wrap-content">
        <div class="event-container">
            <div class="event-head">
                <%= doc.EventName %>
            </div>
            <div class="event-info">
                <div class="event-time">
                    <%= doc.Duration %> online live seminar | <% if (doc.Fees == 0) { %>No Charges<% } else { %>
                    <%= doc.Fees %> <% } %>
                </div>
                <div class="event-date">
                    <span>Date & Time: <br> <%= doc.StartTime %></span>
                </div>
            </div>
        </div>
        <div class="webinar">
            <div class="webinar-description">
                <div class="event-info-div">
                    <div class="info-heading">
                        About the webinar
                    </div>
                    <div class="about-description">
                        <%= doc.About %>
                    </div>
                </div>
                <!-- who should attend it, same heading style -->
                <div class="event-info-div">
                    <div class="info-heading spacing">
                        Who should attend it
                    </div>
                    <div class="about-description">
                        <%= doc.WhoShouldAttend %>
                    </div>
                </div>

                <div class="event-info-div">
                    <div class="info-heading spacing">
                        Speakers
                    </div>

                    <div class="speakers">
                        <% for(var i = 0; i < doc.Speakers.length; i++){ %>
                        <div class="speaker-member">
                            <div class="speaker-info">
                                <a href="<%= doc.Speakers[i].linkedin %>" target="__blank"><h3><%= doc.Speakers[i].name %></h3></a>
                                <h4><%= doc.Speakers[i].position %></h4>
                                <h4><%= doc.Speakers[i].company %></h4>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>

            </div>
            <div class="registration-form">
                <div class="form-heading">
                    Register for this seminar
                </div>
                <div class="form-div">
                    <form id="eventInputs">
                        <div class="Name">
                            <input type="text" name="FirstName" class="event-inp" placeholder="First Name" required>
                            <input type="text" name="LastName" class="event-inp" placeholder="Last Name" required>
                        </div>
                        <input type="email" name="Email" class="event-inp email-inp" placeholder="Email" required>
                        <div class="userRole-contact">
                            <select name="Role" class="event-inp shorter-inp" required>
                                <option value="role">Select Role</option>
                                <option value="student">Student</option>
                                <option value="parent">Parent</option>
                                <option value="institute">Institute</option>
                            </select>
                            <div class="contact-num event-inp longer-inp ">
                                <div class="default-code">+91 -</div>
                                <input type="number" name="Phone" class="ph-input" placeholder="Contact Number"
                                    required>
                            </div>
                        </div>
                        <input type="text" name="CollegeName" class="event-inp inst-inp" placeholder="Institution Name"
                            required>
                        <button type="submit" class="event-submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/js/index.js"></script>
</body>

</html>