<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/Schools.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <title>Edudictive | Schools</title>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
  <%-include('../Components/Header.ejs') %>
  <!-- first division -->
  <div class="school-container">
    <div class="edu-for-sch-written">
      <div class="headline_wrap">
        <div class="headline_div">
          <div class="edudictive-for">
            <img src="/assets/img/icons/Logo Font Only.svg" />
            <h2>for</h2>
          </div>
          <h1 class="tyofinsti">Schools</h1>
        </div>
        <img class="illust-school" src="/assets/img/svgs/school-hero.svg">
      </div>
      <div class="para-contain">
        <p class="para">
          We have upskilled more than 2500 school students in different domains. The courses are specifically curated as per the needs of school students.
        </p>
        <div class="edu-for-sch-buttons">
          <button class="view-programs">View Programs</button>
          <button class="school-plans">School Plans</button>
        </div>
      </div>
    </div>

    <!-- second division -->

    <div class="heading-data">
      <h1 class="headline">
        What do school students get
      </h1>
      <p class="head-text">
        Students can attain the experience in the skill based learning which is highly required in various industrial
        domains.
      </p>
    </div>

    <div class="illus-container">
      <div class="illus">
        <div class="illus-required">
          <img src="/assets/img/svgs/school-teaching.svg">
        </div>
        <div class="illus-data">
          <p class="illus-tag">
            Improves logical thinking
          </p>
          <p class="illus-content">
            Enhanced logical thinking in kids teach them that knowledge is fluid and builds upon itself. Logical thinking is also an important foundational skill of math.
          </p>
        </div>
      </div>

      <div class="illus">
        <div class="illus-required">
          <img src="/assets/img/svgs/school-browsing.svg">
        </div>
        <div class="illus-data">
          <p class="illus-tag">
            Sharpens problem solving
          </p>
          <p class="illus-content">
            Increases focus and concentration: Identifying factors that steal the focus of children and develop skills to improve their concentration potentially is what we work upon. 
          </p>
        </div>
      </div>
    </div>

    <div class="illus-container">
      <div class="illus">
        <div class="illus-required">
          <img src="/assets/img/svgs/school-certificate.svg">
        </div>
        <div class="illus-data">
          <p class="illus-tag">
            Enhances their ability to build
          </p>
          <p class="illus-content">
            It might be a little difficult to develop a certain skill if the child doesn’t have the ability to build that skill, so the ability of building something is what we enhance. 
          </p>
        </div>
      </div>
      <div class="illus">
        <div class="illus-required">
          <img src="/assets/img/svgs/school-entrepreneur.svg">
        </div>
        <div class="illus-data">
          <p class="illus-tag">
            Fosters imagination and creativity
          </p>
          <p class="illus-content">
            Imagining scenarios, trying new ways of doing things, and experimenting new ideas are skills that the children will need when they join the workforce of the future.
          </p>
        </div>
      </div>
    </div>

    <% if (doc.length >= 1) { %>
    <div class="sub-div-a">
      <h1>Training Programs for Students</h1>
      <p>
        Don’t just groom notebooks, groom yourself. <br>
        Start developing skills, It will be a help itself.
      </p>
    </div>
    <div class="program-section">
      <div class="course-wrapper">
        <% for(let i = 0; i < doc.length; i++) { %>
        <div id="CourseCard<%= i %>" class="course-card" data-value="<%= i %>">
          <div class="date-wishlist"><span>Starting <%= doc[i].StartDate %></span><span><img
                onclick="heartanimate(this)" src="/assets/images/svgs/heart.svg" alt=""></span></div>
          <div class="course-name-wrapper">
            <span class="course-name"><%= doc[i].Title %></span>
            <span class="course-mode"><%= doc[i].Mode %> Training Program</span>
          </div>
          <div class="ratings">
            <div class="rating-stars" data-rating="<%= doc[i].Rating %>">
            </div>
            <span><%= doc[i].Rating %> (<%= doc[i].Reviews.length %> Reviews)</span>
          </div>
          <div class="explore-course">
            <button onclick="LinkHandle('/course/<%= doc[i].Key %>/<%= doc[i].Title %>')">Learn More</button>
            <button onclick="LinkHandle('/course/<%= doc[i].Key %>/<%= doc[i].Title %>')">Register Now</button>
          </div>
        </div>
        <% } %>
        <div class="extra-space" data-value="10"></div>
      </div>
      <div class="program-section-btns">
        <button onclick="slider(this)"><i class="fa fa-chevron-left"></i></button>
        <button onclick="slider(this)"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="position-points">
        <% for(let i=0; i<10; i++) { %>
        <div class="course-pointer"></div>
        <% } %>
      </div>
    </div>
    <% } %>

    <!-- third divivsion -->

    <div class="sub-div-a">
      <h1>Exclusive long-term plans for schools</h1>
      <p>
        The perks involved in our long term plan are....
      </p>
    </div>

    <div class="sub-div-b">
      <div class="div1">
        <img src="/assets/img/svgs/about-browsing guy.svg" alt="" />
        <h4>Easy Online Access</h4>
        <p>
          You can easily reach out to our website or email at any hour of the day. We are there for you.
        </p>
      </div>

      <div class="div1">
        <img src="/assets/img/svgs/about-bulb.svg" alt="" />
        <h4>Interesting projects in each domain</h4>
        <p>
          Nobody likes a boring atmosphere, we promise you won’t get bored for even a second in our premises. You’ll
          learn something new everyday.
        </p>
      </div>
    </div>

    <div class="sub-div-b">
      <div class="div1">
        <img src="/assets/img/svgs/about-ama.svg" alt="" />
        <h4>AMA and Discussion Sessions</h4>
        <p>
          Our Interactive sessions are the ones that makes us unique. Your opinion and thoughts play a very vital role
          in framing your personality.
        </p>
      </div>

      <div class="div1">
        <img src="/assets/img/svgs/about-timetable.svg" alt="" />
        <h4>Flexible Deadlines</h4>
        <p>
          Although, we don’t promote negligence in submission, but the deadlines are completely based on everyone’s
          comfort zone.
        </p>
      </div>
    </div>

    <!-- fourth division -->

    <!-- <div class="all-camps-det">
      <div class="camp camp-summer">
        <img src="/assets/img/svgs/sun.svg" alt="" />
        <h2>Summer Camp</h2>
        <p class="inr">INR 4999</p>
        <p class="onward">onwards</p>
        <p class="begin-date">Begins May 2020</p>
        <div class="cam-det">
          <ul>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" /> Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li id="cross">
              <img src="/assets/images/svgs/cancel.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li id="cross">
              <img src="/assets/images/svgs/cancel.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
          </ul>
          <button class="subscribe">Subscribe Now</button>
        </div>
      </div>
      <div class="camp camp-winter">
        <img src="/assets/img/svgs/snow-flake.svg" alt="" />
        <h2>Winter Camp</h2>
        <p class="inr">INR 4999</p>
        <p class="onward">onwards</p>
        <p class="begin-date">Begins December 2020</p>
        <div class="cam-det">
          <ul>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li id="cross">
              <img src="/assets/images/svgs/cancel.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li id="cross">
              <img src="/assets/images/svgs/cancel.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
          </ul>
          <button class="subscribe">Subscribe Now</button>
        </div>
      </div>
      <div class="camp camp-skillowl">
        <img src="/assets/img/svgs/skillowl.svg" alt="" />
        <h2>SkillOwl Labs</h2>
        <p class="inr">INR 6999</p>
        <p class="onward">onwards</p>
        <p class="begin-date">All-year program</p>
        <div class="cam-det">
          <ul>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
            <li>
              <img src="/assets/images/svgs/tick.svg" alt="" />Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod.
            </li>
          </ul>
          <button class="subscribe">Subscribe Now</button>
        </div>
      </div>
    </div> -->
    
    <%-include('../Components/ContactForm.ejs') %>
  </div>
  <%-include('../Components/Footer.ejs') %>
  <script src="/assets/js/index.js"></script>
</body>

</html>